.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s ease;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fade-out-quick {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity .5s ease;
}

.fade-in-quick {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}