/* #particle {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #111111;
} */

#particle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it below the content */
  background-color: #111111;
}

#content {
  height: 100%;
  width: 100%;
}

#middle-island {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle-island #link-container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#middle-logo {
  width: 45%;
  display: block;
  transition: filter .5s ease, transform .5s cubic-bezier(.35, .31, .17, 1.4);
}

#middle-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.35rem rgb(164, 106, 255));
}

#music-player {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25%;
  padding: 0 5px;
  min-width: 125px;
  opacity: .8;
}

#music-player h3 {
  color: rgba(200, 200, 200, .9);
  font-size: .95em;
}

#music-player h2 {
  font-size: 1.3em
}

#music-player #controls {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

#music-player i {
  cursor: pointer;
  transition: .2s all var(--cb-transition);
}

#music-player i:hover {
  opacity: .5;
}

#vouch {
  position: absolute;
  display: inline-flex;
  top: 0;
  transform: translateY(82vh);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 15px 20px;
  box-shadow: 0 0 10px var(--border-color);
  border-radius: 8px;
  max-width: 75%;
  width: fit-content;
  gap: 5px;
}
#vouch p:first-of-type {
  font-weight: normal;
  font-style: italic;
}
#vouch p:first-of-type::before {
  content: '"';
}
#vouch p:first-of-type::after {
  content: '"';
}
#vouch p {
  font-weight: bolder;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}
footer a { text-decoration: underline; }