/*
QAEZZ--
  WHY ARE YOU HERE? I HAVE NO CLUE WHAT IM DOING...
*/

@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

:root {
  --background-color: #111111;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Golos Text', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  /*overflow-x: hidden;*/
  background-color: var(--background-color);
}

hr {
  position: absolute;
  z-index: 100000000;
  left: 50%;
  right: 50%;
  transform: traclate(-50%, 50%);
  height: 100%;
}

nav {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  display:flex;
  background-color: rgb(10, 10, 10);
  bottom: -50px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  color: white;
  position: absolute;
  justify-content:center;
  align-items:center;
}

#click-to-enter {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: calc(100% + 50px);
  background-color: rgb(10, 10 ,10);
}

#click-to-enter a {
  position: absolute;
  min-width: 20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  top: calc(50vh - 50px);
  text-align: center;
  padding: 1%;
  border-radius: 8px;
  /*border: 1px solid rgb(159, 88, 252);*/
  box-shadow: 0 0 10px rgb(159, 88, 252);
  font-size: x-large;
  cursor: pointer;

  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

#click-to-enter a:hover {
  box-shadow: 0 0 10px rgb(190, 150, 255);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 1s ease;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out-quick {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity .5s ease;
}

.fade-in-quick {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}

#middle-shit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

#middle-logo {
  width: 75%;
  display: block;
  margin: auto;
  transition: filter .5s ease, transform .5s cubic-bezier(.35,.31,.17,1.4);
}

#middle-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.35rem rgb(164,106,255));
}

#particle {
  top: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
}

.middle-link-div {
  z-index: 100;
  position: absolute;
  bottom: 10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  min-width: 500px;
  text-align: center;
}

.middle-link {
  font-size: x-large;
  margin: auto;
}

.middle-link-products {
  font-size: medium;
  padding: 1em;
  width: auto;
}

#middle-div {
  position: absolute;
  top: 21%;
}

.middle-link-div a {
  width: 25%;
  display: inline-block;
  padding: 1%;
  border-radius: 8px;
  margin-left: 2%;
  margin-right: 2%;
  
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.link {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(159, 88, 252);
}

.middle-link-div a #middle {
  width: 5%;
}

.link:hover {
  box-shadow: 0 0 10px rgb(190, 150, 255);
}

.assign-me-links-styling {
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(159, 88, 252);
  position: relative;
  margin: auto;
  top: 10vh;
}

.assign-me-links-styling p {
  font-size: large;
  margin: auto;
}

.assign-me-links-styling #bottom {
  padding-bottom: 1vh;
}

.assign-me-links-styling #top {
  padding-top: 1vh;
}

#product-go-back {
  cursor: pointer;
  color: rgb(252, 250, 255);
  filter: drop-shadow(0 0 0.3rem rgb(164,106,255));
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#product-go-back:hover {
  transform: scale(1.2);
  opacity: .7;
}

#product-middle-link-div {
  border-radius: 8px;
  color: white;
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

#song-shit {
  position: absolute;
  z-index: 1;
  height: calc(auto + 50px);
  box-sizing: border-box;
  min-width: 300px;
  color: white;
  padding-left: 1%;
}

#song-shit #now-playing {
  font-size: medium;
  opacity: 30%;
}

#song-shit #now-playing-name {
  font-size: larger;
  opacity: 40%;
}

#song-shit span {
  line-height: 5px;
}

#music-control {
  display: flex;
  font-size: 3rem;
  line-height: 5%;
  align-items: center;
  justify-content: center;
}

#music-control p {
  opacity: .3;
  margin: auto;
  padding: 5%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#music-control p:hover {
  transform: scale(1.4);
  opacity: .4;
}

input[type='range'] {
  z-index: 5;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: rgb(40, 40, 40);
  border-radius: 50px;
  height: 10px;
  width: 100%;
}
input[type='range']::-webkit-slider-thumb {
  z-index: 5;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: rgb(159, 88, 252);
  border-radius: 50px;
  height: 20px;
  width: 20px;
}
input[type='range']::-moz-range-thumb {
  z-index: 5;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: rgb(159, 88, 252);
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

#vouches {
  z-index: 100;
  position: absolute;
  color: white;
  min-width: 50%;
  height: 4vw;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
  bottom: 12.5vh;
}

#vouches div {
  padding: 3%;
  box-shadow: 0 0 10px rgb(159, 88, 252);
  border-radius: 8px;
  height: auto;
  margin: auto;
}

i {
  text-decoration: italic;
}

#vouches-customer {
  padding-top: 50px;
}

/*
###########################################
#### FOR INLINE STYLE WITH WHITE BAR ######
###########################################

#inline-shit {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  
}

#inline-shit a {
  margin: auto;
  font-size: x-large;
  width: 25%;
  display: inline-block;
  filter: drop-shadow(0 0 .5em rgb(159, 88, 252));
  padding: 1%;
  border-radius: 8px;
  margin-left: 2%;
  margin-right: 2%;
  transition: all .2s ease-out;
  text-align: center;
  cursor: pointer;
}

#inline-shit a:hover {
  filter: drop-shadow(0 0 0);
}

#inline-shit #pipe {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  height: 60%;
  width: .5%;
  border-radius: 50px;
}
*/



/*
######################
#### CHAT ############
######################

https://nightware.russiandev.repl.co

DMs

*/